// Netural colors

$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlueBcg: hsl(207, 26%, 17%);
$black: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Size

$small: 0.8rem;
$normal: 1rem;
$large: 1.3rem;

// Font weight

$normal: 200;
$bold: 400;
$bolder: 600;

